{{!-- 게시판 제목 영역 --}}
<h1>{{title}}</h1>

{{!-- 제목 --}}
<input type="text" name="replyTitle" id="replyTitle" size="50" placeholder="제목을 넣어주세요"><br>

{{!-- 이름 --}}
<input type="text" name="name" id="name" size="50" placeholder="이름"><br>

{{!-- 비밀번호 --}}
<input type="text" name="password" id="password" size="50" placeholder="비밀번호"><br>

{{!-- 내용 --}}
<textarea name="text" id="text"></textarea><br>

{{!-- 버튼 --}}
<button>저장</button>
<button>취소</button>